header {
    height: 70px;
    background-color: #eb5255;
    grid-area: header;
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    /* The browser draws the text immediately in the fallback font if the font
       isn't loaded, then swaps it with the webfont when it eventually loads
       See: https://developers.google.com/web/updates/2016/02/font-display
    */
    font-display: swap;
  }
  body {
    margin: 0;
    /* This is a font-stack that tries to use the system-default sans-serifs first */
    font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    ". course ."
    "footer footer footer";
  }
  footer {
    grid-area: footer;
  }
  .isHidden {
    visibility: hidden;
  }