.header {
  height: 70px;
  width: 100%;
  background-color: #eb5255;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}
.header nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  position: relative;
}
.header nav a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: #fff;
  transition: 0.3s ease-out;
}
.header nav a:hover::before {
  transform: scaleX(1);
}
.header ul {
  margin-right: 10px;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul li {
  margin-left: 10px;
}
.header ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.header ul li a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 0;
  right: 0;
  background-color: #fff;
  transition: 0.3s;
}
.header ul li a:hover::before {
  left: 0;
  width: 100%;
}

.form {
  width: 15%;
  margin: 0 auto;
}
.form-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.form-group label {
  font-family: "Myriad Pro", sans-serif;
  margin-bottom: 10px;
}
.form-group input[type="email"], .form-group input[type="password"], .form-group input[type="text"] {
  padding: 4px 8px;
  width: 100%;
}
.form-group button {
  width: 100%;
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #000;
  padding: 4px 16px;
  font-size: 16px;
  transition: 0.3s;
  border: 1px solid #eb5255;
}
.form-group button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #eb5255;
}
.form-group .forget {
  text-decoration: none;
  font-family: "Myriad Pro", sans-serif;
  color: #000;
  margin-top: 15px;
}
.form-check {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.form-check label {
  margin: 0;
}
.form-check input {
  margin-right: 10px;
}

.socials {
  height: 70px;
  width: 100%;
  background-color: #2b3c4d;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials-list {
  margin: auto;
}
.socials-list a {
  margin-right: 15px;
}
.socials-list a object {
  pointer-events: none;
  width: 32px;
  height: 32px;
}

.footer {
  height: 170px;
  width: 100%;
  background-color: #34495e;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer span {
  margin-top: 15px;
  font-family: "Myriad Pro", sans-serif;
  color: #fff;
}
.footer span a {
  text-decoration: none;
  color: #fff;
}
.footer span a::before {
  content: "";
  background-image: url("../img/external.svg");
  display: inline-block;
  height: 12px;
  width: 12px;
  background-size: 12px 12px;
}
.footer nav a {
  margin-right: 12px;
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: "Myriad Pro", sans-serif;
}
.footer nav a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  background-color: #fff;
  transition: 0.3s ease-out;
}
.footer nav a:hover::before {
  transform: scaleX(1);
}

.main {
  background-color: #f2f2f2;
  min-height: calc(100vh - 310px);
}

.wrapper {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
}

@media (max-width: 1040px) {
  .wrapper {
    width: 100%; 
  }
}
@media (min-width: 1041px) {
  .wrapper {
    width: 1040px;
  }
}

.wrapper img {
  margin-left: 10px;
  margin-right: auto;
  height: 40px;
}

.course-list {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.course-list__item {
  height: 120px;
  width: 730px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 30px;
}
.course-list .item {
  text-decoration: none;
  display: flex;
  color: #000;
  transition: 0.3s;
}
.course-list .item__cover {
  height: 100%;
  width: 300px;
  border-right: 10px solid #e4e1e1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #34495e;
  background-position: -30px -30px;
}
.course-list .item__info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 420px;
}
.course-list .item__info p {
  font-family: "Myriad Pro", sans-serif;
  position: relative;
  font-size: 20px;
}
.course-list .item__info p::before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 0;
  background-color: #000;
  transition: 0.5s;
}
.course-list .item:hover {
  cursor: pointer;
  opacity: 0.7;
}
.course-list .item:hover p::before {
  width: 100%;
}
body {
  font-family: Lato, sans-serif;
}
.top-section {
  flex-direction: row-reverse;
  background: linear-gradient(45deg, #fff4f2, #ffe1e5);
}
.top-section_map-wrapper {
  width: 50%;
}
.top-section_map {
  width: 100%;
  color: #34495e;
}
.top-section_heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #34495e;
  text-align: center;
}
@media (max-width: 767px) {
  .top-section {
    flex-direction: column;
  }
  .top-section_map-wrapper,.top-section_heading {
    margin-bottom: 25px;
    width: 100%;
  }
}
.heading_h1 {
  font-size: 2em;
  max-width: 500px;
  font-weight: bold;
}
.heading_h1_youcourse {
  color: #eb5255;
}
.heading_h2 {
  margin-top: 40px;
  font-size: 1.5em;
}
.heading_link {
  color: #34495e;
  margin-top: 15px;
  text-decoration: none;
}
.start-link {
  padding: 5px 50px;
  border-radius: 15px;
  border: 2px solid #34495e;
  margin-top: 10px;
  transition: all 0.15s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.start-link:hover, .start-link:focus {
  background-color: #34495e;
  color: #fff;
  box-shadow: none;
}
.start-link:active {
  background-color: #062032;
  color: #fff;
}
.ask-link {
  color: #c2c2c2;
  font-size: 0.9em;
  transition: all 0.15s ease-out;
}
.ask-link:hover {
  color: #34495e;
}
.main_content_section {
  padding: 5%;
  color: #34495e;
  display: flex;
}
.main_content_section:nth-child(2n+1) {
  background-color: #fff4f2;
}
.about-section_main-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about-section_text-wrapper {
  width: 40%;
  margin-right: 20px;
}
.about-section_img {
  background-color: #eb5255;
  width: 25%;
  color: white;
  text-align: center;
  margin-right: 20px;
}
.about-section_h3 {
  font-size: 1.25em;
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */
.sidebar {
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}
.users-section, .tasks-section {
  padding-left: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.admin-sections-wrapper {
  background-color: #fff;
  margin: 2% 3%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  border-radius: 5px;
}
.users-section_heading {
  padding: 10px 20px 40px 20px;
  border-bottom: 2px solid #dedede;
}
.users-section_heading_h3 {
  font-size: 1.2em;
}
.users-section_heading_p {
  margin-top: 10px;
  font-size: 0.8em;
  color: #848484;
}
.users-section_list {
  padding: 10px 30px;
}
.users-section_list_item {
  background-color: #dedede;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.users-section_list_item_user-wrapper {
  display: flex;
  justify-content: space-between;
}
.admin-panel_menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 250px;
  height: 100%;
  font-size: 1.2em;
  background-color: #fff;
}
.admin-panel_menu_list {
  margin-top: 20px;
}
.menu_list {
  display: flex;
  flex-direction: column;
}
.menu_list_item_link {
  color: #555555;
  text-decoration: none;
  display: block;
  padding: 20px 60px;
  position: relative;
}
.menu_list_item_link:hover {
  background-color: #dedede;
}
.menu_list_item_link.courses::before, .menu_list_item_link.users::before {
  left: 18px;
  bottom: 14px;
  position: absolute;
}
.menu_list_item_link.users::before {
  content: url(./user-solid.svg);
} 
.menu_list_item_link.courses::before {
  content: url(./pencil-alt-solid.svg);
} 
.hidden {
  display: none;
}

.sidebar-add {
  width: 300px;
  z-index: 0;
  background-color: #f3f3f3;
  box-shadow:  0px 2px 2px 0 rgba(0,0,0, .15);
  padding: 100px 0px;
  position: absolute;
  top: 70px;
}

.sidebar-add nav {
  display: flex;
  flex-flow: column;
}

.sidebar-add nav a{
  text-decoration: none;
  color: #444;
  padding: 20px 40px;
}
.sidebar-add nav a:hover {
  background-color: #dedede;
}


/*add-form*/
.content {
  flex-grow: 1;
  padding-left: 300px;
}

.form-field {
  margin: 0 20px;
  background-color: #f3f3f3;
  box-shadow:  0px 2px 2px 0 rgba(0,0,0, .15);
}

.form-field form {
  display: flex;
  flex-flow: column nowrap;
}
.form-field form textarea {
  resize: none;
}
.form-field input, .form-field textarea, .form-field select{
  margin: 20px;
  padding: 15px 20px ;
  border: none;
  box-shadow: inset 0px 2px 2px 0 rgba(0,0,0, .15);
}

.form-field input:focus, .form-field textarea:focus, .form-field select:focus {
  outline: none;
  box-shadow: inset 0px 2px 4px 2px rgba(0,0,0, .15);
}

.lesson-title {
  display: flex;
  flex-flow: row nowrap;
}
.lesson-title input {
  flex-grow: 1;
  margin-right: 50px;
}
.lesson-title select {
  width: 300px;
}
.lesson-title label {
  font-size: 1rem;
}
.task-block {
  margin: 10px 0;
  border-top: 2px solid #ccc;
}

.type-block {
  font-size: 1rem;
  margin: 10px 0 0 20px;
}

.task-title {
  display: flex;
  flex-flow: column;
}

.answers {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.answers label {
  font-size: 1rem;
  justify-self: end;
}
.form-field .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
.form-field .btns a, .form-field .btns input{
  flex-grow: 1;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  background-color: #eb5255;
  border-radius: 5px;
  color: #f3f3f3;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0, .15);
}